.test/op.png {background-position:0 px, 0 px; width: 920 px; height:887 px} 
.test/test2/kid_thorfinn.png {background-position:920 px, 0 px; width: 266 px; height:489 px} 
.test/test2/test3/Flag_of_France.png {background-position:1186 px, 0 px; width: 2000 px; height:1333 px} 
.test/naruto.png {background-position:3186 px, 0 px; width: 457 px; height:600 px} 
